body {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "main main";
}

.header {
  grid-area: header;
}

.flexbox {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.main {
  grid-area: main;
}

.main > ul {
  list-style-type: none;
  overflow: scroll;
}
